.page-head {
  background-color: $main-color;
  height: auto;
  max-height: 80vh;
  width: 100%;
  padding: 10vh 5vw;
  overflow: hidden;
  z-index: 2;
  color: #ffffff;
  h1{
    font-size: 4em;
    font-weight: 700;
  }
  }
