footer {
  background-color: #3C3C3C;
  .footer-container{
    width: 100%;
    padding: 2.5vh 25vw;
    margin: auto;
    color: #ffffff;
    text-align: center;
    @include breakpoint(small){
      padding: 2.5vh 15vw;
    }
    @include breakpoint(xsmall){
      padding: 2.5vh 0vw
    }
    .footer-item{
      display: inline-block;
      overflow: hidden;
      padding: 0;
      text-align: center;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      @include breakpoint(small){
        margin: 0;
      }

    h4{
      margin: auto;
      text-align: center;
      width: 100%;
      font-size:1em;
    }
  }
    .footer-logo{
      max-height: 25vh;
      height: 10vh;
      @include breakpoint(medium){
        height: 8vh;
      }

    }
  }
}
