.btn-primary, .btn {
  background-color: $main-color;
  &:active, &:focus{
    background-color: $second-color;
  }
}

#return-to-top {
  display: none;
  position: fixed;
  bottom: 5vh;
  left: 1vw;
  z-index: 99;
  font-size: 1.5em;
  border: none;
  outline: none;
  background-color: #525252;
  color: white;
  cursor: pointer;
  padding: 2vh 2vw;
  border-radius: 25px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  @include breakpoint(medium){
    bottom: 2vh;
  }
  @include breakpoint(small){
    padding: 2vh 2vw;
    bottom: 2vh;
  }
  @include breakpoint(xsmall){
    padding: 2vh 2vw;
    left: 5vw;
    bottom: 2vh;
  }
}

#return-to-top:hover {
  background-color: $second-color;
  color: #ffffff;
}
