.contact-head{
  margin: 5vh auto;
  width: 100%;
  text-align: center;
  h2{
    font-size: 2.5em;
    @include breakpoint(xsmall){
      font-size: 1.5em;
    }
    strong{
      font-weight: 700;
      color: $main-color;
    }
  }
}
.contact-form{
  width: 100%;
  margin: auto;
  padding: 10vh 0;
  .form-container{
    width: 100%;
    margin: auto;
    @include breakpoint(xsmall){
      padding: 0 10vw;
    }
  }
}
