.intro {
  background-color: #000;
  height: auto;
  max-height: 80vh;
  width: 100%;
  padding: 25vh 10vw;
  overflow: hidden;
  z-index: 2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url(../img/pineapple-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/pineapple-bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  @include breakpoint(small){
    background-size: auto 120%;
  }
  @include breakpoint(large){
    max-height: 90vh;
    padding: 30vh 10vw;
  }
  .intro-container{
    width: 100%;
    margin: auto;
    color: #ffffff;
    z-index: 2;
    .intro-text {
      font-weight: 700;
      font-size: 3em;
      margin-bottom: 5vh;
    }
    .intro-link {
      font-size: 1.5em;
      text-align: left;
      color: #ffffff;
      padding: 2vh 2vw;
      background-color: $second-color;
      border-radius: 25px;
      -webkit-box-shadow: 0px 10px 0px 0px #3865a9;
              box-shadow: 0px 10px 0px 0px #3865a9;
      &:hover{
      text-decoration: none;
      background-color: #274675;
    }
    }
}
}
.intro-about{
  height: relative;
  width: 100%;
  padding: 20vh 0;
  background-color: #72519a;
  color: #ffffff;
  @include breakpoint(xsmall){
    padding: 10vh 5vw;
  }
  .intro-about-desc{
    width: 100%;
    margin: auto;
    h2{
      font-size: 2.5em;
      margin-bottom: 5vh;
      @include breakpoint(xsmall){
        font-size: 2em;
      }
    strong{
      font-weight: 700;
      color: #ffb665;
    }
    }
    p{
      font-size: 1.25em;
    }
  }
}
.intro-sell{
  width: 100%;
  padding: 10vh 5vw 10vh 5vw;
  margin: auto;
  color: #ffffff;
  background-color: #004b8e;
  .intro-sell-desc{
    height: 100%;
    margin: auto;
    h3{
      color: #ffb665;
      font-weight: 700;
      font-size: 2em;
    }
  }
  .intro-sell-triple{
    .triple-item{
      margin-bottom: 5vh;
      //background-color: #3e3d3d;
      //padding: 2.5vh 2.5vw;
      h3{
        color: #ffb665;
        font-weight: 700;
      }
      img{
        width: auto;
        max-height: 15vh;
        position: absolute;
        margin: auto;
        @include aspect-ratio(16, 9);
        @include breakpoint(xsmall){
          max-height: 10vh;
        }
      }
      a{
        color: #ffb665;
        &:hover{
          color: $lighter-color;
          text-decoration: none;
        }
      }
    }
  }
}

.intro-services{
  height: relative;
  width: 90%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  .intro-services-head{
    width: 100%;
    margin: auto;
    margin-bottom: 5vh;
    a{
      text-decoration: none;
      color: #000000;
      text-align: center;
      &:hover{
        color: $second-color;
      }
      h2{
        color: $main-color;
        font-size: 3em;
        font-weight: 700;
      }
    }
  }
  .intro-services-card{
    height: inherit;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 25px;
    border: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #CACACA;
    z-index: 1;
    .services-button{
      font-size: 1.5em;
      text-align: center;
      background-color: $second-color;
      color: #ffffff;
      margin: 0 5vh 0 5vh;
      margin-top: 5vh;
      padding: 2.5vh 1vw;
        border-radius: 25px;
      @include breakpoint(xsmall){
        margin: 5vh 10vw;
        margin-top: 2vh;
      }
    }
    &:hover {
      -webkit-transition-property: -webkit-box-shadow;
      transition-property: box-shadow, -webkit-box-shadow;
      -webkit-transition-duration: 0.25s;
              transition-duration: 0.25s;
      -webkit-transition-timing-function: ease-in;
              transition-timing-function: ease-in;
      -webkit-box-shadow: 5px 5px 40px 5px rgba(128,126,128,1);
      box-shadow: 5px 5px 40px 5px rgba(128,126,128,1);
      border: 0px;
      z-index: 2;
      .services-button{
        -webkit-box-shadow: 0px 10px 0px 0px #3865a9;
                box-shadow: 0px 10px 0px 0px #3865a9;
        &:hover{
          background-color: #274675;
        }
      }
    }
    a{
      width: 100%;
      height: 100%;
      margin:0;
      padding:0;
      text-decoration: none;
      padding-bottom: 10vh;
    }
    h2{
      color: #000000;
      text-align: center;
      width: 100%;
      margin:auto;
      margin-top: 3vh;
      font-weight: 700;
      font-size: 2em;
      padding-top: 3vh;
      z-index: 2;
      font-style: normal;
      @include breakpoint(small){
        margin-top: 0vh
      }
    }
    .service-card-icon{
      text-align: center;
      margin: auto;
      margin-top: 5vh;
      top: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      height: auto;
      opacity: 1;
      overflow: hidden;
      img{
        width: 20vw;
        position: absolute;
        margin: auto;
        @include aspect-ratio(16, 9);
        @include breakpoint(xsmall){
          width: 40vw;
        }
      }
    }
    .service-desc{
      color: #000000;
      text-align: center;
      width: 100%;
      margin:auto;
      margin-top: 5vh;
      font-size: 1.5em;
      padding-top: 3vh;
      z-index: 2;
      @include breakpoint(small){
        margin-top: 2vh
      }
    }
  }
}

.fiver-section{
  width: 100%;
  margin: auto;
  background-color: #1dbf73;
  height: 50vh;
  -webkit-transition-property: -webkit-background-color;
  transition-property: background-color, -webkit-background-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;

  @include breakpoint(small){
    height: 70vh;
  }
  &:hover{
    background-color: #ffffff;
    a{
      .fiver-desc{
        h3{
          color: #1dbf73;
        }
      }
    }
  }
  a{
    position: relative;
    padding: 0 10vw;
    width: 100%;
    height: 50vh;
    text-decoration: none;
    @include breakpoint(xsmall){
      padding: 15vh 10vw;
    }
    .row{
      height: 100%;
      margin: auto;
    }
    .fiver-desc{
      margin: auto;
      height: 100%;
      padding: 20vh 0vw;
      @include breakpoint(xsmall){
        padding: 0;
      }
    h3{
      color: #ffffff;
      font-weight: 700;
      font-size: 3em;
      text-align: left;
      @include breakpoint(xsmall){
        text-align: center;
      }
    }
  }
  .fiver-logo{
    margin: auto;
    height: 100%;
    position: relative;
    @include breakpoint(xsmall){
      margin-top: 5vh;
    }
    .round-icon{
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 3;
      background-color: #1dbf73;
      border-radius: 50%;
      height: 40vh;
      width: 40vh;
      @include breakpoint(small){
        right:0;
      }
      @include breakpoint(xsmall){
        max-height: 30vh;
        max-width: 30vw;
      }
    }
    img{
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 4;
      height: auto;
      max-height: 40vh;
      @include breakpoint(small){
        right:0;
      }
      @include breakpoint(xsmall){
        max-height: 30vh;
      }
    }
  }
  }
}

.intro-case-study{
  width: 80%;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 20vh;
.case-study-head{
  margin-bottom: 5vh;
  text-align: center;
  h2{
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    color: $main-color;
  }
  a{
    text-decoration: none;
    color: $main-color;
    &:hover{
      color: $second-color;
    }
  }
}
.case-study-body{
  width: 100%;
  margin: auto;
  text-align: center;
}
.case-study-item{
  margin: auto;
  overflow: hidden;
  border-radius: 25px;
  height: 60vh;
  background-color: $second-color;
  text-align: left;
  margin-bottom: 5vh;
  &:hover{
    height: 70vh;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  a{
    text-decoration: none;
  }
  .case-study-desc{
    padding: 5vh 2.5vw 0 2.5vw;
    color: #ffffff;
  }
  .case-study-image{
    width: 100%;
    height: inherit;
    margin: auto;
    margin-bottom: 10vh;
    overflow: hidden;
    text-align: center;
    img {
      width: inherit;
      max-width: 25vw;
      position: absolute;
      margin: auto;
      @include aspect-ratio(16, 9);
      @include breakpoint(medium){
        max-width: 40vw;
      }
    }
  }
}
#case-study-1{
  background-color: rgb(142,106,186);
  background: linear-gradient(195deg, #fbb1b1 0%, #ff6262 100%);
}
#case-study-2{
  background-color: rgb(142,106,186);
  background: linear-gradient(195deg, #62a7fb 0%, #32569e 100%);
}
#case-study-3{
  background-color: rgb(142,106,186);
  background: linear-gradient(195deg, #c15353 0%, #671726 100%);
}
#case-study-4{
  background-color: rgb(142,106,186);
  background: linear-gradient(195deg, #ffa857 0%, #e07726 100%);
}
}
.intro-client-list{
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 10vh;
  padding: 0 5vw;
  .client-list-head{
  h2{
    font-weight: 700;
    color: $main-color;
    text-align: left;
    margin-bottom: 10vh;
    font-size: 2em;
  }}
.icon-container{
  width: 100%;
  margin: auto;
  height: auto;
}
  .client-icon{
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 10vh;
    overflow: hidden;
    text-align: center;
    @include breakpoint(small){
      margin-bottom: 5vh;
    }
    img{
      filter: gray;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      width: 20vw;
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      @include aspect-ratio(16, 9);
      @include breakpoint(xsmall){
        width: 40vw;
        max-width: 40vw;
      }
    }
  }
}
