.intro {
  background-color: #000;
  height: auto;
  max-height: 80vh;
  width: 100%;
  padding: 25vh 10vw;
  overflow: hidden;
  z-index: 2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url(../img/pineapple-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/pineapple-bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  @include breakpoint(small){
    background-size: auto 120%;
  }
  @include breakpoint(large){
    max-height: 90vh;
    padding: 30vh 10vw;
  }
  .intro-container{
    width: 100%;
    margin: auto;
    color: #ffffff;
    z-index: 2;
    .intro-text {
      font-weight: 700;
      font-size: 3em;
      margin-bottom: 5vh;
    }
    .intro-link {
      font-size: 1.5em;
      text-align: left;
      color: #ffffff;
      padding: 2vh 2vw;
      background-color: $second-color;
      border-radius: 25px;
      &:hover{
      text-decoration: none;
      -webkit-box-shadow: 0px 10px 0px 0px rgba(142,106,186,1);
      box-shadow: 0px 10px 0px 0px rgba(142,106,186,1);
    }
    }
}
}
.intro-about{
  height: relative;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  .intro-about-desc{
    width: 100%;
    margin: auto;
    h2{
      font-weight: 700;
      font-size: 2.5em;
    }
    p{
      font-size: 1.25em;
    }
  }
}
.intro-sell{
  width: 100%;
  padding: 10vh 5vw 10vh 5vw;
  margin: auto;
  color: #ffffff;
  background-color: #4d456d;
  .intro-sell-desc{
    height: 100%;
    margin: auto;
  }
  .intro-sell-triple{
    .triple-item{
      img{
        width: inherit;
        max-width: 50vw;
        position: absolute;
        margin: auto;
        @include aspect-ratio(16, 9);
      }
      a{
        color:$second-color;
      }
    }
  }
}

.intro-services{
  height: relative;
  width: 90%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  .intro-services-head{
    width: 100%;
    margin: auto;
    margin-bottom: 5vh;
    a{
      text-decoration: none;
      color: #000000;
      text-align: center;
      &:hover{
        color: $second-color;
      }
      h2{
        font-size: 3em;
        font-weight: 700;
      }
    }
  }
  .intro-services-card{
    height: inherit;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 25px;
    border: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #CACACA;
    z-index: 1;
    &:hover {
      -webkit-transition-property: -webkit-box-shadow;
      transition-property: box-shadow, -webkit-box-shadow;
      -webkit-transition-duration: 0.25s;
              transition-duration: 0.25s;
      -webkit-transition-timing-function: ease-in;
              transition-timing-function: ease-in;
      -webkit-box-shadow: 5px 5px 40px 5px rgba(128,126,128,1);
      box-shadow: 5px 5px 40px 5px rgba(128,126,128,1);
      border: 0px;
      z-index: 2;
      .services-button{
        background-color: $second-color;
        color: #ffffff;
        border-radius: 25px;
        &:hover{
          -webkit-box-shadow: 0px 10px 0px 0px rgba(142,106,186,1);
          box-shadow: 0px 10px 0px 0px rgba(142,106,186,1);
        }
        @include breakpoint(small){
          margin: 0 15vh 0 15vh;
          margin-top: 5vh;
          margin-bottom: 2vh;
        }
      }
    }
    a{
      width: 100%;
      height: 100%;
      margin:0;
      padding:0;
      text-decoration: none;
      padding-bottom: 10vh;
    }
    h2{
      color: #000000;
      text-align: center;
      width: 100%;
      margin:auto;
      margin-top: 3vh;
      font-size: 2em;
      padding-top: 3vh;
      z-index: 2;
      font-style: normal;
      @include breakpoint(small){
        margin-top: 0vh
      }
    }
    .service-card-icon{
      text-align: center;
      margin: auto;
      margin-top: 5vh;
      top: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      height: auto;
      opacity: 1;
      overflow: hidden;
      img{
        width: inherit;
        max-width: 50vw;
        position: absolute;
        margin: auto;
        @include aspect-ratio(16, 9);

      }
    }
    .service-desc{
      color: #000000;
      text-align: center;
      width: 100%;
      margin:auto;
      margin-top: 5vh;
      font-size: 1.5em;
      padding-top: 3vh;
      z-index: 2;
      @include breakpoint(small){
        margin-top: 2vh
      }
    }
    .services-button{
      font-size: 1.5em;
      text-align: center;
      color: $second-color;
      margin: 0 5vh 0 5vh;
      margin-top: 5vh;
      padding: 2.5vh 1vw;
      @include breakpoint(small){
        margin-top: 2vh
      }
    }
  }
}

.intro-case-study{
  width: 80%;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 20vh;
.case-study-head{
  margin-bottom: 5vh;
  text-align: center;
  h2{
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    color: $main-color;
  }
  a{
    text-decoration: none;
    color: $main-color;
    &:hover{
      color: $second-color;
    }
  }
}
.case-study-body{
  width: 100%;
  margin: auto;
  text-align: center;
}
.case-study-item{
  margin: auto;
  overflow: hidden;
  border-radius: 25px;
  max-height: 60vh;
  background-color: $second-color;
  text-align: left;
  margin-bottom: 5vh;
  &:hover{
    max-height: 70vh;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  a{
    text-decoration: none;
  }
  .case-study-desc{
    padding: 5vh 2.5vw 0 2.5vw;
    color: #ffffff;
  }
  .case-study-image{
    width: 100%;
    height: inherit;
    margin: auto;
    margin-bottom: 10vh;
    overflow: hidden;
    text-align: center;
    img {
      width: inherit;
      max-width: 25vw;
      position: absolute;
      margin: auto;
      @include aspect-ratio(16, 9);
      @include breakpoint(medium){
        max-width: 40vw;
      }
    }
  }
}
}
.intro-client-list{
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 10vh;
  h3{
    text-align: center;
    margin-bottom: 10vh;
    font-size: 3em;
  }
  .slide{
    img{
      min-width: 25vw;
      max-width: 25vw;
      @include breakpoint(small){
        min-width: 30vw;
        max-width: 30vw;
      }
      @include breakpoint(xsmall){
        min-width: 40vw;
        max-width: 40vw;
      }
    }
  }
  /*
  .client-icon{
    width: 100%;
    height: inherit;
    margin: auto;
    margin-bottom: 10vh;
    overflow: hidden;
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    img{
      width: inherit;
      max-width: 30vw;
      position: absolute;
      margin: auto;
      @include aspect-ratio(16, 9);
      @include breakpoint(medium){
        max-width: 40vw;
      }
    }
  } */
}
