  .service-intro{
    padding: 15vh 5vw;
    width: 100%;
    h2{
      font-weight: 700;
      font-size: 3em;
      margin-bottom: 5vh;
    }
    .service-intro-link {
      font-size: 1.5em;
      text-align: left;
      color: #ffffff;
      padding: 2vh 2vw;
      background-color: $second-color;
      border-radius: 25px;
      &:hover{
      text-decoration: none;
      -webkit-box-shadow: 0px 10px 0px 0px rgba(142,106,186,1);
      box-shadow: 0px 10px 0px 0px rgba(142,106,186,1);
    }
    }
  }
  .service-item-container{
    padding: 0;
    .service-item{
      width: 100%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background-color: #eaeaea;
      color: #000000;
      height: 100%;
      @include breakpoint(xsmall){
        display: block;
      }
      .service-desc{
        padding: 0 5vw;
        height: 100%;
        margin: auto;
        @include breakpoint(xsmall){
          padding: 10vh 10vw;
        }
      h3{
        font-size: 2.5em;
        color: $main-color;
        @include breakpoint(xsmall){
          margin-top: 5vh;
        }
      }
      hr{
        border-color: $second-color;
        border-width: 5px;
        width: 25%;
        margin:0;
        margin-bottom: 2.5vh;
      }
      p{
        font-size: 1em;
      }
    }
      .service-image{
        width: 100%;
        padding: 0;
        overflow: hidden;
      img{
        width: auto;
        height: 90vh;
      }
    }
    }
    .service-item-lg{
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      @include breakpoint(xsmall){
        display: none;
      }
    }
    .service-item-sm{
      display: none;
      @include breakpoint(xsmall){
        display: block;
      }
    }
  }
