$main-color: #44aed1;
$second-color: #7f68ce;
$darker-color: darken($main-color, 20%);
$lighter-color: lighten($main-color, 20%);

$bgDefault: #00c3cc;
$bgHighlight: #7f68ce;
$colDefault: #ecf0f1;
$colHighlight: #8eeff4;

$navBgDefault: #ffffff;
$navBgHighlight: #7f68ce;
$navDefault: #000000;
$navHighlight: #ffffff;
